@layer components {

  .input-group {
    @apply flex flex-col gap-1;
    
    &__label-text {
      @apply text-m-rg text-neutral-700;
    }

    &__helper-text {
      @apply text-s-rg text-neutral-80;
    }

    &__wrap {
      @apply relative flex;
      height: 40px;
    }

    input,
    textarea {
      @apply w-full py-2 px-3 text-l-rg border border-neutral-40 rounded outline-none bg-neutral-10;
      @apply hover:border-blue-400;
      @apply disabled:hover:border-neutral-40 disabled:bg-neutral-20;
      @apply focus:border-blue-400 focus:bg-neutral-0 focus:text-neutral-700 focus:outline-3 focus:outline-blue-50 focus:outline-offset-0;
      @apply placeholder:text-neutral-60 disabled:placeholder:text-neutral-50;
    }

    textarea {
      @apply shadow-custom-inner focus:border-2;
      height: 66px;

      &:focus {
        padding: 7px 11px;
      }
    }

    // TEXTFIELD
    
    &.textfield &__wrap {
      @apply relative flex;

      &::after {
        @apply hidden icon-s;
        content: '';
        position: absolute;
        top: 13px;
        right: 13px;
      }
    }


    &.error,
    &.success {
      .input-group__wrap {
        &::after {
          @apply block;
        }
      }

      input {
        &:not(:hover) {
          @apply pr-7;
        }
      }

      .input-group__helper-text {
        @apply block;
      }
    }

    &.error {
      .input-group__wrap {
        &::after {
          background: url('../assets/svg/input/error.svg') center / contain no-repeat;
        }
      }

      input {
        &:not(:focus) {
          @apply border-danger-750;
        }
      }

      .input-group__helper-text {
        @apply text-danger-750;
      }
    }

    &.success {
      .input-group__wrap {
        &::after {
          background: url('../assets/svg/input/success.svg') center / contain no-repeat;
        }
      }

      input {
        &:not(:focus) {
          @apply border-success-400;
        }
      }

      .input-group__text {
        @apply text-success-400 block;
      }
    }

    &.disabled &__view {
      @apply border-neutral-30 hover:cursor-default;
    }

    &.disabled &__label-text, &.disabled &__helper-text {
      @apply text-neutral-50;
    }
    
    &.error.disabled {
      input {
        @apply border-danger-750;
      }
    }

    &.success.disabled {
      input {
        @apply border-success-400;
      }
    }
  }
}
