@layer components {}

table {

  thead {
    th {
      @apply text-m-md text-neutral-700;
    }

    tr {
      @apply bg-neutral-10;
    }
  }

  tbody {
    tr {
      @apply bg-neutral-0 text-m-rg text-neutral-200;
    }

    th {
      @apply text-m-md;
    }
  }

  th {
    @apply text-left
  }

  th,
  td {
    @apply py-3.5 px-4;
  }
}

.t-orders {

  tbody {
    tr {
      @apply hover:bg-blue-10;
    }

    th {
      @apply text-blue-400;
    }
  }

  tr td:not(:nth-child(2)),
  tr th:not(:nth-child(2)) {
    width: 1px;
    white-space: nowrap;
  }

  &__order a {
    @apply cursor-pointer;
  }
}

.t-check {
  // prevent cells collapsing on 1280px
  td:not(:first-child), th:not(:first-child) {
    white-space: nowrap;  
  }
}


.t-change {
  
  tr td:first-child,
  tr th:first-child {
    width: 1px;
    white-space: nowrap;
  }
}