@layer base {
  @font-face {
    font-family: Inter;
    src: url('../assets/fonts/Inter-Thin.woff2');
    font-weight: 100;
  }
  @font-face {
    font-family: Inter;
    src: url('../assets/fonts/Inter-ExtraLight.woff2');
    font-weight: 200;
  }
  @font-face {
    font-family: Inter;
    src: url('../assets/fonts/Inter-Light.woff2');
    font-weight: 300;
  }
  @font-face {
    font-family: Inter;
    src: url('../assets/fonts/Inter-Regular.woff2');
    font-weight: 400;
  }
  @font-face {
    font-family: Inter;
    src: url('../assets/fonts/Inter-Medium.woff2');
    font-weight: 500;
  }
  @font-face {
    font-family: Inter;
    src: url('../assets/fonts/Inter-Semibold.woff2');
    font-weight: 600;
  }
  @font-face {
    font-family: Inter;
    src: url('../assets/fonts/Inter-Bold.woff2');
    font-weight: 700;
  }
  @font-face {
    font-family: Inter;
    src: url('../assets/fonts/Inter-ExtraBold.woff2');
    font-weight: 800;
  }
  @font-face {
    font-family: Inter;
    src: url('../assets/fonts/Inter-Black.woff2');
    font-weight: 900;
  }
}
