@layer base {
  .layout-1 {
    @apply bg-neutral-10 flex items-center justify-center;

    .centered-block {
      @apply flex flex-col shadow-1 items-center gap-8 bg-neutral-0 border border-neutral-150 p-15;

      h1 {
        @apply text-neutral-700 text-center;
      }

      .textfield {
        @apply w-80;
      }
    }
  }

  .layout-2 {
    @apply flex;

    .left {
      width: 256px;
      height: 100vh;
    }

    .menu {
      height: 100vh;
    }

    .right {
      @apply flex-1 bg-neutral-10;
      // dev
      // min-height: 100vh;
    }

    main {
      @apply pl-6 py-4 pr-4;
      height: calc(100vh - 172px);
      overflow-y: scroll;

      &::-webkit-scrollbar {
        display: none;
      }
      
      /* Hide scrollbar for IE, Edge and Firefox */
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    }

    .content {
      @apply w-full flex flex-col p-8 gap-8 bg-neutral-0 border border-neutral-30;

      h2 {   
        @apply text-heading-l;
      }
    }

    header {
      @apply pt-4 px-4 pb-6 bg-neutral-0 border border-neutral-30;
    }
  
    header + main {
      @media (max-width: 1439px) {
        height: calc(100vh - 228px);
      }
    }

    // dev

    // footer {
    //   @apply absolute bottom-0 right-0 w-full;
    // }
  }

}