.order-modal {
  &.modal {
    @apply absolute;
  }
  
  & > .modal__dialog {
    overflow: scroll;
    left: calc(50vw - 720px);
    min-width: 1262px;
    width: 100vw;
    max-width: 1440px;
    top: 13%;
    height: calc(100vh - 26%);
    @media (max-width: 1440px) {
      left: 0;
      top: 0;
      height: 100vh;
    }
  }
}