// base
@import './global/layouts.scss';
@import './global/fonts.scss';
@import './global/_utils.scss';
@import './global/_mixins.scss';
@import './global/_grid.scss';
// components
@import './components/buttons.scss';
@import './components/inputs.scss';
@import './components/select.scss';
@import './components/icons.scss';
@import './components/logo.scss';
@import './components/badges.scss';
@import './components/menu.scss';
@import './components/modal.scss';
@import './components/copy.scss';
@import './components/filters.scss';
@import './components/checkbox.scss';
@import './components/pagination.scss';
@import './components/table.scss';
@import './components/card.scss';
@import './components/notification.scss';
@import './components/accordion.scss';
@import './components/tabs.scss';
@import './components/radio.scss';

// pages
@import './pages/guideline.scss';

// test
@import './global/_dev.scss';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  html,
  body {
    min-height: 100vh;
    overflow: auto;
    font-family: 'Inter';
  }

  h1 {
    @apply text-heading-xxl;
  }

  h3 {
    @apply text-heading-l font-medium;
    letter-spacing: -0.022em;
  }

  h4 {
    @apply text-heading-m font-medium;
    letter-spacing: -0.021em;
  }

  h5 {
    @apply text-heading-s font-medium;
    letter-spacing: -0.017em;
  }
}

